body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}

.delete {
  color: red;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
